<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Movie</title>
    <link rel="stylesheet" href="css/create.css" />
  </head>
  <body>
    <header> 
      <div class="headerbox1">
        <img src="../images/Logo_JS_Pro.png" alt="">
        <a href="/">Home</a>
        <% if (moviedata.userName != "" && moviedata.roles == "Admin") { %>
          <a href="/movies">Movies</a>
          <a href="/users">Users</a>
          <% }%>
        <% if (moviedata.roles == "User"){ %>
        <a href="/favorite/<%=moviedata.user_id%>">Favorite</a>
        <% }%>
      </div>
      <div class="headerbox2"> 
        <% if (!moviedata.userName) { %>
        <a class="signup" href="/login">Sign In</a>
        <% } %>
      <% if (moviedata.userName) { %>
        <ul>
          <li>
          <img src="../images/<%=moviedata.profilePicture%>" alt="" class="profile">
          <ul class="dropdown">
            <li><a href="/user/<%=moviedata.user_id%>">Edit User</a></li>
            <li><a href="/logout">Sign out</a></li>
          </ul>
          </li>
        </ul>
      </div>
      <% } %>
    </header>
    <div class="mainbox">
        <h1>Add Movie</h1>
          <form method="post" action="/create" enctype="multipart/form-data">
            <div class="info">
              <div class="left">
                <input type="text" name="title" placeholder="Title"/>
                <br><br>
                <input type="text" name="director" placeholder="Director"/>
                <br><br>
                <textarea name="desc" id="" cols="35" rows="5" placeholder="Description" style=" resize: none;"></textarea>
                <br><br>
                <input type="text" name="teaser_url" placeholder="Teaser URL"/>
                <br><br>
                <input style="color: #faf0e6;" type="file" name="imageFile" />
                <br><br>
              </div>
              <div class="right">
                <input type="text" name="release_date" placeholder="MM/DD/YYYY"/>
                <br><br>
                <input type="text" name="rating" placeholder="13+"/>
                <br><br>
                <input type="text" name="genre" placeholder="Romantic/Action"/>
                <br><br>
                <input type="text" name="running_time" placeholder="180"/>
                <br><br>
                <label for="">Type:
                <select name="type">
                  <option name="type" value="Movie">Movie</option>
                  <option name="type" value="Series">Series</option>
                </select>
                <br><br>
                <input type="submit" value="Add Movie" class="btn"/>

              </label>
              </div>
            </div>
          </form>
    </div>
  </body>
</html>
