<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/register.css">
    <title>Register</title>
    <style>
        .password{
           -webkit-text-security:disc;
       }
    </style>
  </head>
  <body>
    
  <div class="mainbox">
      <div>
        <h1 class="login">Register</h1>
        <form method="post" action="/register">
          <% if (checkUserDupe) { %>
            <p class="checklogin"><%=checkUserDupe%></p>
          <% } %>
          <br>
          <input type="text" name="name" minlength="3"  maxlength="10" placeholder="Username" required/>
          <br><br>
          <input class="password" type="text" name="password" minlength="4" maxlength="15" placeholder="Password" required/>
          <input type="submit" value="Register" class="btn"/>
        </form>
        <p class="signin">Already have an account?⠀<a href="/login">Sign In!</a></p>
    
    </div>
</div>
  </body>
</html>
