@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

:root {
  --headerbg: #4f4666;
  --bg: #2e2a38;
  --bg2: #b9b4c7;
  --txt: #faf0e6;
  --txt2: #212427;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
  font-style: normal;
  transition: all 0.4s;
}

body {
  background-color: var(--bg);
  height: 100vh;
  width: 100%;
}

header {
  height: 60px;
  width: 100%;
  background-color: var(--headerbg);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 400;
  color: var(--txt);
  padding: 2px 7px 4px 7px;
  transition: all 0.4s;
  border-radius: 10px;
}

header a:hover {
  background-color: #302b3f;
}

ul {
  list-style: none;
  background-color: var(--headerbg);
  position: relative;
  transform: translateX(100px);
  z-index: 999;
}

li {
  display: inline-block;
  position: relative;
}

ul li a {
  display: block;
  padding: 10px;
  color: var(--txt);
  text-decoration: none;
  text-align: center;
  font-size: large;
}

ul li ul.dropdown li {
  display: block;
  border-radius: 20px;
  white-space: nowrap;
}

ul li ul.dropdown {
  min-width: 100%;
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--headerbg);
}

ul li a:hover {
  background-color: #302b3f;
}

ul li:hover ul.dropdown {
  display: block;
  border-radius: 10px;
}

.profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid var(--txt);
  object-fit: cover;
  margin: 3px 10px 0px 10px;
}

.mainbox {
  width: 100%;
  height: 93%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

input[type="text"] {
  font-size: large;
  border-radius: 7px;
  border: 0px;
  height: 30px;
  width: 260px;
  padding: 10px;
  color: var(--txt2);
  background-color: rgb(245, 245, 245);
}

.mainbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--txt);
}

.mainbox h1 {
  font-weight: 600;
  font-size: 34px;
  padding-bottom: 30px;
}

input[type="file"] {
  color: var(--txt);
}

input[type="file"]::file-selector-button {
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: var(--txt);
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-left: 10%;
  margin-right: 16px;
  transition: background-color 200ms;
}

input[type="file"]::file-selector-button:hover {
  background-color: #d6d6d6;
}

input[type="file"]::file-selector-button:active {
  background-color: #a7a7a8;
}

.btn {
  display: block;
  margin: 20px auto 0;
  padding: 0.5rem 1rem;
  font-size: 18px;
  border-radius: 15px;
  border: 2px solid #4caf50;
  background-color: transparent;
  color: var(--txt);
}

.btn:hover {
  color: var(--txt2);
  background-color: #4caf50;
}
