@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap");
/* font-family: "EB Garamond", serif; */
:root {
  --headerbg: #4f4666;
  --bg: #2e2a38;
  --bg2: #b9b4c7;
  --txt: #faf0e6;
  --txt2: #212427;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
  font-style: normal;
  transition: all 0.3s;
}

body {
  background-color: var(--bg);
  overflow-x: hidden;
}

header {
  height: 60px;
  width: 100%;
  background-color: var(--headerbg);
  display: flex;
}

.headerbox1 {
  width: 91%;
  display: flex;
  align-items: center;
}

.headerbox1 img {
  width: 100px;
  padding-bottom: 10px;
  height: 60px;
  margin: 0px 10px 0px 20px;
  object-fit: cover;
}

.headerbox1 a {
  margin: 0px 0px 0px 20px;
}

.headerbox2 {
  display: flex;
  align-items: center;
  width: 9%;
}

header a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 400;
  color: var(--txt);
  padding: 4px 10px 6px 10px;
  transition: all 0.4s;
  border-radius: 10px;
  font-weight: 700;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

header a:hover {
  background-color: #302b3f;
}

.welcome {
  color: var(--txt);
  font-size: xx-large;
  padding: 15px 0px 0px 20px;
  font-weight: 500;
}

.mainbox div:nth-of-type(1) {
  position: relative;
  margin-bottom: 40px;
  width: 100%;
  height: 700px;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.bigimg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.mainbox > div:nth-of-type(1) > a:nth-of-type(1) {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, transparent, var(--bg));
  color: #fff;
  font-size: 64px;
  padding: 20px 20px 70px 50px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-decoration: none;
}

.mainbox div:nth-of-type(1) p:nth-of-type(2) {
  white-space: nowrap;
  font-size: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 600px;
}

.imgitem img {
  width: 100%;
  height: 100%;
  height: 150px;
  object-fit: cover;
}

.imgitem img:hover {
  transform: scale(1.02);
}

.imgitem {
  width: 298px;
  height: 50%;
}

.imgitem a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-style: normal;
  color: var(--txt);
  font-weight: 400;
  font-size: x-large;
  font-family: "Fredoka", sans-serif;
}

.mainbox {
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  flex-wrap: wrap;
}
h2 {
  font-weight: 500;
  position: fixed;
  left: 0px;
  top: 100px;
  background-color: #17ca1d;
  color: #1b1b1b;
  width: 280px;
  padding: 10px 0px 10px 10px;
  border-radius: 0px 15px 15px 0px;
  z-index: 100;
}

.fade-in-right {
  animation:
    fade-in-right 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) both,
    anima 1.5s 1 2s forwards;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: var(--headerbg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--bg2);
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9894a3;
}

@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes anima {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-400px);
    transform: translateX(-400px);
    display: none;
  }
}

ul {
  list-style: none;
  background-color: var(--headerbg);
  position: relative;
  z-index: 999;
}

ul li {
  display: inline-block;
  position: relative;
}

ul li a {
  display: block;
  padding: 10px;
  color: var(--txt);
  text-decoration: none;
  text-align: center;
  font-size: large;
  font-family: "Fredoka", sans-serif;
  font-weight: 400;
}

ul li ul.dropdown li {
  display: block;
  border-radius: 20px;
  white-space: nowrap;
}

ul li ul.dropdown {
  min-width: 100%;
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--headerbg);
}

ul li a:hover {
  background-color: #302b3f;
}

ul li:hover ul.dropdown {
  display: block;
  border-radius: 10px;
}

.profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid var(--txt);
  object-fit: cover;
  margin: 3px 10px 0px 10px;
}

footer {
  background-color: #211e2969;
  color: var(--txt);
  text-align: center;
  padding: 20px 0px;
  font-size: 14px;
  font-weight: 300;
}

@media screen and (max-width: 1536px) {
  .imgitem {
    width: 287px;
  }
}

@media screen and (max-width: 1440px) {
  .imgitem {
    width: 267px;
  }
}
@media screen and (max-width: 1024px) {
  .imgitem {
    width: 234px;
  }
}

@media screen and (max-width: 768px) {
  .imgitem {
    width: 232px;
  }
}

@media screen and (max-width: 426px) {
  header a {
    font-size: 15px;
  }
  .imgitem {
    width: 180px;
  }
  .imgitem a {
    font-size: 15px;
  }
}
