@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --headerbg: #4f4666;
  --bg: #2e2a38;
  --bg2: #b9b4c7;
  --txt: #faf0e6;
  --txt2: #212427;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
  font-style: normal;
}

body {
  background-color: var(--bg);
}

header {
  height: 50px;
  width: 100%;
  font-size: x-large;
  background-color: var(--headerbg);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header a {
  text-decoration: none;
  color: var(--txt);
  font-weight: 600;
}

.welcome {
  color: var(--txt);
  font-size: xx-large;
  padding: 15px 0px 0px 20px;
  font-weight: 500;
}

.mainbox div:nth-of-type(1) {
  position: relative;
  margin-bottom: 40px;
  width: 100%;
  height: 700px;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.bigimg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.mainbox > div:nth-of-type(1) > a:nth-of-type(1) {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, transparent, var(--bg));
  color: #fff;
  font-size: 64px;
  padding: 20px 20px 70px 50px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-decoration: none;
}

.mainbox div:nth-of-type(1) p:nth-of-type(2) {
  white-space: nowrap;
  font-size: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 600px;
}

.imgitem img {
  width: 100%;
  height: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.imgitem {
  width: 298px;
  height: 50%;
}

.imgitem a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-style: normal;
  color: var(--txt);
  font-weight: 700;
  font-size: x-large;
  font-family: "Raleway", sans-serif;
}

.mainbox {
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  flex-wrap: wrap;
}
h2 {
  font-weight: 500;
  position: fixed;
  left: 0px;
  top: 100px;
  background-color: #17ca1d;
  color: #1b1b1b;
  width: 280px;
  padding: 10px 0px 10px 10px;
  border-radius: 0px 15px 15px 0px;
  z-index: 100;
}

.fade-in-right {
  animation:
    fade-in-right 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) both,
    anima 1.5s 1 2s forwards;
}

@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes anima {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-400px);
    transform: translateX(-400px);
    display: none;
  }
}

@media screen and (max-width: 1536px) {
  .imgitem {
    width: 287px;
  }
}

@media screen and (max-width: 1440px) {
  .imgitem {
    width: 267px;
  }
}
@media screen and (max-width: 1024px) {
  .imgitem {
    width: 234px;
  }
}

@media screen and (max-width: 768px) {
  .imgitem {
    width: 232px;
  }
}

@media screen and (max-width: 426px) {
  header a {
    font-size: 15px;
  }
  .imgitem {
    width: 180px;
  }
  .imgitem a {
    font-size: 15px;
  }
}
