/* 
Thank you to
  Coding Journey -> .signup animation
*/
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

:root {
  --headerbg: #4f4666;
  --bg: #2e2a38;
  --bg2: #b9b4c7;
  --txt: #faf0e6;
  --txt2: #212427;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
  transition: all 0.4s;
  font-style: normal;
}

body {
  background-color: var(--bg);
  width: 100%;
  height: 100vh;
}

.login {
  font-weight: 600;
  font-size: 40px;
  color: var(--txt2);
}

.mainbox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainbox div:nth-of-type(1) {
  background-color: var(--bg2);
  border-radius: 15px 0px 0px 15px;
  width: 30%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mainbox div:nth-of-type(2) {
  border-radius: 0px 15px 15px 0px;
  background-color: var(--headerbg);
  width: 30%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  font-size: 18px;
}

input[type="text"] {
  border-radius: 7px;
  border: 0px;
  height: 35px;
  width: 260px;
  padding: 10px;
  color: var(--txt2);
  background-color: rgb(245, 245, 245);
}

input[type="password"] {
  border-radius: 7px;
  border: 0px;
  height: 35px;
  width: 260px;
  padding: 10px;
  color: var(--txt2);
  background-color: rgb(243, 243, 243);
}

.btn {
  display: block;
  margin: 20px auto 0;
  padding: 0.5rem 1rem;
  font-size: 18px;
  border-radius: 15px;
  border: 2px solid #4caf50;
  background-color: transparent;
  color: var(--txt2);
}

.btn:hover {
  color: var(--txt2);
  background-color: #4caf50;
}

.signup {
  margin-top: 80px;
  font-size: large;
  color: var(--txt2);
}

.signup a {
  font-size: 20px;
  text-decoration: none;
  color: #ee514c;
}

.signup a {
  display: inline-block;
  padding-bottom: 0.25rem;
  position: relative;
}

.signup a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #fd5d5d;
  transition: width 0.25s ease-out;
}
.signup a:hover::before {
  width: 100%;
}

.mainbox div:nth-of-type(2) h1 {
  color: var(--txt);
  font-weight: 400;
  font-size: 40px;
}

.mainbox div:nth-of-type(2) p {
  color: var(--txt);
  font-size: 18px;
  padding: 20px 30px 80px 30px;
}

.checklogin {
  color: #5d6dfd;
  position: absolute;
}

form {
  position: relative;
}
