@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --headerbg: #4f4666;
  --bg: #2e2a38;
  --bg2: #b9b4c7;
  --txt: #faf0e6;
  --txt2: #212427;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
  font-style: normal;
}

body {
  background-color: var(--bg);
  height: 100vh;
  overflow-x: hidden;
}

header {
  height: 60px;
  width: 100%;
  background-color: var(--headerbg);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 400;
  color: var(--txt);
  padding: 2px 7px 4px 7px;
  transition: all 0.4s;
  border-radius: 10px;
}

header a:hover {
  background-color: #302b3f;
}

img {
  width: 70%;
  height: 85%;
  object-fit: cover;
  border-radius: 10px;
}

h2 {
  font-weight: 500;
  position: fixed;
  right: 0px;
  top: 70px;
  background-color: #17ca1d;
  color: #1b1b1b;
  width: 300px;
  padding: 10px 0px 10px 10px;
  border-radius: 15px 0px 0px 15px;
}

.fade-in-right {
  animation:
    fade-in-right 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) both,
    anima 1.5s 1 2s forwards;
}

@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes anima {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(400px);
    transform: translateX(400px);
    display: none;
  }
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 15px;
  border: 2px solid #4caf50;
  transition: all 0.3s ease;
  background-color: transparent;
  color: #4caf50;
}

.btn:hover {
  color: #212427;
  background-color: #4caf50;
  transition: all 0.3s ease;
}

.btn2 {
  display: inline-block;
  position: relative;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 15px;
  border: 2px solid #4caf50;
  background-color: transparent;
  color: #212427;
  background-color: #4caf50;
  transition: all 0.3s ease;
}

.btn2:hover {
  color: #4caf50;
  background-color: transparent;
}

.mainbox {
  height: 94%;
  width: 100%;
  display: flex;
}

.box1 {
  width: 60%;
  height: 100%;
}

.box1 div:nth-of-type(1) {
  width: 100%;
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box1 div:nth-of-type(2) {
  width: 100%;
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box2 {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  color: var(--txt);
}

::-webkit-scrollbar {
  width: 7px;
  background-color: var(--headerbg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--bg2);
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9894a3;
}

ul {
  list-style: none;
  background-color: var(--headerbg);
  position: relative;
  transform: translateX(100px);
  z-index: 999;
}

ul li {
  display: inline-block;
  position: relative;
}

ul li a {
  display: block;
  padding: 10px;
  color: var(--txt);
  text-decoration: none;
  text-align: center;
  font-size: large;
}

ul li ul.dropdown li {
  display: block;
  border-radius: 20px;
  white-space: nowrap;
}

ul li ul.dropdown {
  min-width: 100%;
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--headerbg);
}

ul li a:hover {
  background-color: #302b3f;
}

ul li:hover ul.dropdown {
  display: block;
  border-radius: 10px;
}

.profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid var(--txt);
  object-fit: cover;
  margin: 3px 10px 0px 10px;
}

@media screen and (max-width: 1536px) {
}

@media screen and (max-width: 1440px) {
}
@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 426px) {
}
