@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

:root {
  --headerbg: #4f4666;
  --bg: #2e2a38;
  --bg2: #b9b4c7;
  --txt: #faf0e6;
  --txt2: #212427;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
  font-style: normal;
}

body {
  background-color: var(--bg);
}

header {
  height: 60px;
  width: 100%;
  background-color: var(--headerbg);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 400;
  color: var(--txt);
  padding: 2px 7px 4px 7px;
  transition: all 0.4s;
  border-radius: 10px;
}

header a:hover {
  background-color: #302b3f;
}

img {
  width: 100%;
  height: 100%;
  height: 150px;
  object-fit: cover;
}

.imgitem {
  width: 300px;
}

.imgitem a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-style: normal;
  color: var(--txt);
  font-weight: 600;
  font-size: x-large;
}

.mainbox {
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  flex-wrap: wrap;
}
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--bg2);
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9894a3;
}

ul {
  list-style: none;
  background-color: var(--headerbg);
  position: relative;
  transform: translateX(100px);
  z-index: 999;
}

ul li {
  display: inline-block;
  position: relative;
}

ul li a {
  display: block;
  padding: 10px;
  color: var(--txt);
  text-decoration: none;
  text-align: center;
  font-size: large;
}

ul li ul.dropdown li {
  display: block;
  border-radius: 20px;
  white-space: nowrap;
}

ul li ul.dropdown {
  min-width: 100%;
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--headerbg);
}

ul li a:hover {
  background-color: #302b3f;
}

ul li:hover ul.dropdown {
  display: block;
  border-radius: 10px;
}

.profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid var(--txt);
  object-fit: cover;
  margin: 3px 10px 0px 10px;
}
